[Unit]
Description=DCA Trading Bot
Documentation=https://github.com/Linus045/dca_binance_investment_bot
After=network.target
StartLimitIntervalSec=180
StartLimitBurst=3

[Service]
Type=exec
User=pi
Group=pi
WorkingDirectory=<Absolute Path To Project>
ExecStart=<Absolute path to python> main.py
KillSignal=SIGTERM
RestartSec=10
TimeoutStopSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target